body {
    background-color: lightgrey;
    margin: 0px;
}
.main-nav {
    background-color: white;
    display: flex;
}
.main-nav > span {
    display: flex;
    padding: 12px;
}
.main-nav > span > ol > li, .main-nav > span > ul > li, .main-nav > span > span {
    display: inline-block;
    padding: 12px;
}
.main-nav ol, .main-nav ul {
    list-style-type: none;
    margin: 0px;
}
.logo {
    background-color: white;
}
.logo-piece {
    display: inline;
    font-weight: bolder;
    font-size: larger;
}
.logo-color-primary {
    color: red;
}
.logo-color-secondary {
    color: green;
}
