* {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
body {
    background-color: grey;
    margin: 80px 0 0 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-image: url("./images/spikes.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    flex-wrap: nowrap;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav-left, .nav-right {
    flex: 1 0 100px;
}
.nav-left {
    margin-left: 4vw;
    align-items: center;
}
.nav-right {
    margin-right: 10%;
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.nav-right > a {
    display: inline-block;
    margin: 24px 12px 24px 28px;
    height: fit-content;
    color: black;
    text-decoration-line: none;
}
.nav-right > a:hover {
    color: darkgrey;
}
.logo {
    background-color: white;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 28px;
}
.logo-primary, .logo-secondary {
    display: inline;
}
.logo-primary {
    color: #CE2021;
}
.logo-secondary {
    color: #8DC728;
}
main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-flow: column;
    margin: 5% 4% 0 6%;
    height: 70vh;
}
.meal-content {
    flex: 1 0 360px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.meal-intro {
    flex: 1 1 18vw;
    margin-right: 40px;
    font-size: 20px;
    height: 100%;
    max-height: 700px;
    max-width: fit-content;
}
.meal-intro > h1 {
    margin: 0 auto;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
}
.meal-intro > p {
    margin: 14px auto 28px auto;
}
.meals {
    flex: 1 1 65vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    height: 100%;
    max-width: 1800px;
}
.meal {
    flex: 1 1 260px;
    position: relative;
    min-width: 170px;
    height: 100%;
    max-height: 700px;
}
.meal > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.tag-bottom, .tag-top {
    position: absolute;
    height: 38px;
    font-size: 12px;
    font-weight: bold;
    text-align: end;
    justify-content: end;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.tag-bottom > span, .tag-top > span {
    margin-left: 12px;
}
.tag-top {
    bottom: 38px;
    right: 0px;
    background-color: white;
    min-width: 30%;
}
.tag-bottom {
    bottom: 0px;
    right: 0px;
    background-color: #8DC728;
    min-width: 50%;
}
.content-reference {
    color: black;
    text-decoration-line: none;
    font-size: 18px;
}
.content-reference:hover {
    color: darkgrey;
}
@media (max-width: 899.98px) {
    .meal-content, .meals {
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .meal-intro {
        text-align: center;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .nav {
        flex-direction: column;
    }
    .nav-left, .nav-right {
        flex: 1 1 auto;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-right {
        flex-wrap: wrap;
    }
    .nav-right > a {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .nav-left {
        margin-top: 8px;
    }
    .meal {
        max-height: 900px;
    }
}